@import url('components/banner.css');
@import url('components/cards.css');
@import url('components/ingredients.css');
@import url('components/footer.css');
@import url('components/gif.css');


body {
  background-color: white;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Balthazar', serif;
  color: black;
  font-size: 20px;
  text-align: center;
  cursor: url('images/cheese.png'), auto;
  margin: 0;
}

.container {
  width: 1000px;
  margin: 20px auto;
}

@media (max-width: 960px) {
  body {
    width: 700px;
  }
}

@media (max-width: 720px) {
  body {
    width: 500px;
  }
}

@media (max-width: 540px) {
  body {
    width: 300px;
  }
}

p {
  font-family: 'DM Sans', sans-serif;
}

h2 {
  color: black;
  font-weight: 500;
  font-size: 30px;
  line-height: 4px;
}

a {
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  color: rgb(255, 196, 0);
  font-size: 30px;
}

li {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}
