
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgb(128, 183, 233), white);
  padding: 30px;
}

#eiffel-tower {
  position: absolute;
  width: 220px;
  filter: blur(0.5px);
  top: 17%;
  left: 75%;
}

#ratatouille {
  width: 170px;
  position: absolute;
  top: 31%;
  left: 5%;
  animation: move 4s both;
}

@keyframes move {
  0% {left: 2000px}
  95% {left: 725px}
  100% {left: 727px}

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-image: linear-gradient(to top right, rgb(22, 73, 201), rgb(43, 113, 219));
  border-radius: 50%;
  box-shadow:0px 0px 0px 7px rgb(255, 196, 0) inset;
}

h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 70px;
  font-family: 'Balthazar', serif;
}

#profile {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -40px;
}

.intro-section {
  padding: 15px;
}
