.section-1 {
  padding-top: 30px;
}

.spoons {
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.lang-icon {
  background-image: url('../images/spoon.png');
  background-size: cover;
  height: 220px;
  width: 100px;
  font-size: 80px;
  transition: all 0.2s ease-in-out;
}

.spoons > .lang-icon:hover {
  transform: translateY(-30px);
  height: 280px;
}
